#logo {
    text-align: center;
}

h1 {
    font-family: Oxygen;
}

.carousel-item img {
    border-radius: 10px;
}

h3 {
    font-family: Oxygen;
}

.card my-4 border-0 {
    border-radius: 10px;
}

.card {
    size: ;
}